.buttons{ 
    display: inline-block;
    width: 100px;
   
    display: flex;
   justify-content: center;
   align-items: center;

    }


    .list{
        color:white;
        font-family: 'Julius Sans One', sans-serif;
        font-size: 150%;
        
       
    }