<div class="pp">><p>This software is made to make your tournament as agile as posible,
    just write your Event name and click on "start"</p>
</div>

<div class="nameOfT">
  <p class="parraf">Your Tournament name</p>

  <form (submit)="addEvent(newT)">
    <p><input type="text" style="width:350px; height:40px; border-radius:20px;" class="inputes" #newT 
      placeholder="¡Here!" style="font-size:30px; text-align: center; font-family:'Julius Sans One', sans-serif;"></p>

    <button class="button" href="#">Start </button>
    <br>
    <br>
  </form>
 </div>

 <br><br>
 <br><br>
 <br><br>
 <br><br>
 <br><br>
 <br><br>
 <div class="nameOfThis">
{{eventName[eventName.length-1]}}
</div>