<div>
       
        <ul>   
          <li  *ngFor = "let fighter of fighters">                     
            <p>Id: {{fighter.id}}</p>
            <p>Name: {{fighter.name}}</p>
            <p>Age: {{fighter.age}}</p>
            <p>Weight: {{fighter.weight}}</p>
            <p>Years of trainning: {{fighter.yearsOfTrainning}}</p>
            <p>Category: {{fighter.category}}</p>
            <p>NOTES: {{fighter.notes}}</p>
           <p><img src= {{fighter.photo}} width="100px"></p>
          </li>
        </ul>
          </div>

