
.toolbar{
  background-color: black;

}

.logo{
 
 
  position: relative;
  top:180px;
  right: -150px;
  text-align: center;
  font-size: 40px;
  border-radius: 20%;

}

.welcome{
    font-family:   'Julius Sans One', sans-serif;
    color:#745527;
    font-size: 500%;
    position: relative;
    top:130px;
    left:300px;
    right:200px;
}

.a{
  COLOR: #1278BF; 
  text-shadow: 0px 0px 9px #508AD3;
}


.fgts{
color:wheat;
font-family: 'Yanone Kaffeesatz', sans-serif;
font-size: 80%;

}

.listof{
position: absolute;
left:1100px;
top: 1100px;
font-family: 'Julius Sans One', sans-serif;
  
 }



.generateButton{
  
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 12px 24px;
  border: 1px solid #ffffff;
  border-radius: 8px;
  background: #0c2d4a;
  background: -webkit-gradient(linear, left top, left bottom, from(#0c2d4a), to(#1f2ed9));
  background: -moz-linear-gradient(top, #0c2d4a, #1f2ed9);
  background: linear-gradient(to bottom, #0c2d4a, #1f2ed9);
  text-shadow: #050a40 1px -1px 1px;
  font: normal normal bold 20px trebuchet ms;
  color: #ffffff;
  text-decoration: none;
}
.button:hover,
.button:focus {
  background: #0e3659;
  background: -webkit-gradient(linear, left top, left bottom, from(#0e3659), to(#2537ff));
  background: -moz-linear-gradient(top, #0e3659, #2537ff);
  background: linear-gradient(to bottom, #0e3659, #2537ff);
  color: #ffffff;
  text-decoration: none;
}
.button:active {
  background: #071b2c;
  background: -webkit-gradient(linear, left top, left bottom, from(#071b2c), to(#1f2ed9));
  background: -moz-linear-gradient(top, #071b2c, #1f2ed9);
  background: linear-gradient(to bottom, #071b2c, #1f2ed9);
}
.button:before{
  content:  "\0000a0";
  display: inline-block;
  height: 24px;
  width: 24px;
  line-height: 24px;
  margin: 0 4px -6px -4px;
  position: relative;
  top: 0px;
  left: 0px;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAA7EAAAOxAGVKw4bAAABN0lEQVRIib3VMUoEQRAF0LcTLQZiaGAgBkYiG25ooNlGXkHxBF5CPIp4CPEARgaCCuodDERWg52B3tqZnplltKChuqvrV9fv7qoRCn8oFfi8wT4fQo8ZFGvqY9xiN+7JBegr53hKghhhB9v4xCu+eoIW2MNmOT/DMU7wDhe4xwNeSmPqnNMPSr/HEqPC+cFlneMUb5h1OPUEHzhNMLbKIFfCHaRjkgSJttyeMe5wHfbWXnJ1ullYF8DT9QJHYb6sBIlALB5EU+BGvYmGJioOW3ziaP1oObo6Z9AmdXR1lvRS4tjHhu6vqxdFFeA0WV+LrjqK6oBSWx1d8ZmuRPqXjxZLRS79zqUiV+zapLXYxXL9jO8eAapssuV6qI7GcsPp9dG6yBg3km7GgqLCokEPFWhFhqRoRf8FmRxKU30kB6IAAAAASUVORK5CYII=") no-repeat left center transparent;
  background-size: 100% 100%;
}


h2{
  font-family:  'Julius Sans One', sans-serif;
  font-size: 20px;
    text-align: left;
  COLOR: #1278BF; 
  text-shadow: 0px 0px 9px #508AD3;
  position: relative;
  left:15%
}

h3{
  color: grey;
  font-family:'Julius Sans One', sans-serif;
  text-align: center;
  font-size: 40px;
  text-shadow: 0px 0px 9px #508AD3;
}

.pushIt{
  background: greenyellow;
}

.pushIts{
  background: red;
}

.cardsF{
color:gray;
font-family: 'Julius Sans One', sans-serif;
font-size: 20px;

}


main{
    display:flex;
    flex-direction:row;
    color:wheat;
    font-family:  'Julius Sans One', sans-serif;
    font-size: 20px;
  }
  .round{
    display:flex;
    flex-direction:column;
    justify-content:center;
    width:200px;
    list-style:none;
    padding:0;
  }
    .round .spacer{ flex-grow:1; }
    .round .spacer:first-child,
    .round .spacer:last-child{ flex-grow:.5; }
  
    .round .game-spacer{
      flex-grow:1;
    }
  
  /*
   *  General Styles
  */
  body{
    font-family:sans-serif;
    font-size:small;
    padding:10px;
    line-height:1.4em;
    
    
  }
  
  li.game{
    padding-left:20px;
   
  }
  
    li.game.winner{
      font-weight:bold;
    }
    li.game span{
      float:right;
      margin-right:5px;
    }
  
    li.game-top{ border-bottom:1px solid  #1278BF; }
  
    li.game-spacer{ 
      border-right:1px solid #aaa;
      min-height:40px;
    }
  
    li.game-bottom{ 
      border-top:1px solid  rgb(247, 173, 12);
    }