.welcome{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:yellow;
    font-size: 350%;
    position: relative;
    top:130px;
    left:200px;
    right:200px;
}

